.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.dialogsItems .active {
  color: gold;
}
.item {
  padding: 10px;
}
.messages {
  padding: 10px;
}
.message {
  padding: 10px;
}
