.content {
  grid-area: c;
  background-color: cornflowerblue;
  font-size: 100px;
}

.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
}
a {
  text-decoration: none;
  color: white;
}
.dialogsItems .active {
  color: gold;
}
.item {
  padding: 10px;
}
.messages {
  padding: 10px;
}
.message {
  padding: 10px;
}
